# Ignore the target directory
/target/

# Ignore FireDBG debug output
/firedbg/

# Ignore the Cargo.lock file if you're building a library
# Cargo.lock

# Ignore the node_modules directory if you're using a frontend framework
/node_modules/

# Ignore the .DS_Store file on macOS
.DS_Store

# Ignore the .idea directory for JetBrains IDEs
.idea/

# Ignore the .vscode directory for Visual Studio Code
.vscode/

# Ignore the .git directory
.git/

# Ignore the .env file for environment variables
.env

# Ignore the .log files
*.log

payments.json
payments_received.json
payments_sent.json

*tmp

**torrc.dev
**torrc.relay.dev
**torrc.client.dev
**torrc.client.prod
**torrc.relay.prod

.secrets